.shop-detail-wrap {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 1200px;
  background-color: #fff;
  padding: 20px;
}
.shop-detail-wrap .main-detail {
  display: flex;
}

.shop-detail-wrap .goods-image {
  flex: 1;
  padding-right: 20px;
}

.shop-detail-wrap .goods-image img {
  width: 100%; /* 가로 길이에 맞게 조정 */
  height: auto;
}

.shop-detail-wrap .goods-info {
  flex: 1;
}
.shop-detail-wrap .ex-box {
  min-height: 350px;
}

.shop-detail-wrap .goods-info h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 30px;
}
.shop-detail-wrap .goods-info h3 {
  margin-top: 70px;
  margin-left: 30px;
  font-weight: 700;
}
.shop-detail-wrap .goods-info p {
  margin: 20px; /* 단락 간격 추가 */
}

.shop-detail-wrap .price-box {
  display: flex;
  justify-content: space-between;
}
.shop-detail-wrap .quantity-controls {
  display: flex;
  align-items: center;
  margin: 30px;
}

.shop-detail-wrap .quantity-controls button {
  width: 25px;
  height: 20px;
  font-size: small;
  background-color: #4caf50;
  color: white;

  border: none;
  border-radius: 5px;
}

.shop-detail-wrap .quantity-controls span {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
}
.shop-detail-wrap .goods-info h2 {
  margin-right: 50px;
  margin-top: 30px;
}
.shop-detail-wrap .goods-buy {
  margin-top: 20px;
  display: flex;
}
.shop-detail-wrap .goods-buy button {
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border: none;
  padding: 15px; /* 상하 여백 증가 */
  flex: 1; /* 각 버튼이 동일한 크기를 가짐 */
  cursor: pointer;
  margin-right: 1px;
  border-radius: 5px;
}

.shop-detail-wrap .tabs {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.shop-detail-wrap .tabs button {
  background-color: #f1f1f1;
  border: none;
  padding: 15px; /* 상하 여백 증가 */
  flex: 1; /* 각 버튼이 동일한 크기를 가짐 */
  cursor: pointer;
  margin-right: 10px; /* 오른쪽 여백 추가 */
  border-radius: 5px;
}

.shop-detail-wrap .tabs button:last-child {
  margin-right: 0; /* 마지막 버튼은 오른쪽 여백 없음 */
}

.shop-detail-wrap .tabs button.active {
  background-color: #4caf50;
  color: white;
}

.shop-detail-wrap .tab-content {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ccc;
}
.shop-detail-wrap td {
  color: #191c19;
}

.shop-pay-wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* 결제 페이지 */
.shop-pay-wrap h2,
h4 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 3px;
}

.shop-pay-wrap table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.shop-pay-wrap td {
  padding: 10px;
  border: 1px solid #ddd;
  color: #191c19;
}

/* input */
.shop-pay-wrap input[type="text"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 체크박스 */
.shop-pay-wrap label {
  display: flex;
  align-items: center;
}

/* button */
.shop-pay-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.shop-pay-wrap button:hover {
  background-color: #45a049;
}
.shop-pay-wrap .accountForShip {
  font-size: 12px;
  font-weight: 400;
}
.shop-pay-wrap .member-no {
  display: none;
}

.Myreview-wrap {
  position: relative;
}

.Myreview-wrap .review-tabs {
  border-bottom: 1px solid #ccc;
}

.Myreview-wrap .tabs {
  display: flex;
}

.Myreview-wrap .tabs button {
  flex: 1; /* 각 탭이 50% 너비를 차지 */
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  color: #191c19;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 30px;
}

.Myreview-wrap .tabs button.active {
  border-bottom: 2px solid #4caf50;
  color: #4caf50;
}

.Myreview-wrap .tab-content {
  padding: 20px;
}

.Myreview-wrap .before-review-wrap {
  min-height: 600px;
}
.Myreview-wrap .review-item {
  display: flex;
  align-items: center; /* 세로 정렬 */
  border-bottom: 1px solid #eee; /* 아이템 구분선 */
  padding: 10px 0;
  margin-top: 30px;
}

.Myreview-wrap .review-item img {
  width: 100px; /* 상품 이미지 너비 */
  height: auto; /* 원본 비율 유지 */
  margin-right: 20px; /* 이미지 오른쪽 여백 */
}

.Myreview-wrap .product-info {
  flex-grow: 1; /* 가용 공간을 차지하도록 설정 */
}

.Myreview-wrap .write-review-button {
  padding: 8px 12px; /* 버튼 패딩 */
  background-color: #4caf50; /* 버튼 색상 */
  color: white; /* 텍스트 색상 */
  border: none; /* 경계선 없음 */
  border-radius: 4px; /* 둥근 모서리 */
  cursor: pointer; /* 포인터 커서 */
  transition: background-color 0.3s; /* 색상 전환 효과 */
}

.Myreview-wrap .write-review-button:hover {
  background-color: #45a049; /* 호버 효과 */
}

.Myreview-wrap .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Myreview-wrap .modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.review-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* MUI의 background.paper에 해당 */
  border: 2px solid #000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 16px; /* MUI의 4 단위에 해당 */
}

.review-modal-wrap .modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.review-modal-wrap textarea {
  width: 370px;
  height: 130px;
  font-size: 20px;
  padding: 20px;
  resize: none;
}
.Myreview-wrap .css-1umw9bq-MuiSvgIcon-root {
  fill: #ffd700;
  display: "inline-block";
  margin-top: 10px;
  padding: 0px;
}

.Myreview-wrap .goods-no {
  display: none;
}

/* 상품 상세 리뷰 list  */
.shop-detail-wrap .my-star-point {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.shop-detail-wrap .my-star-point span {
  color: #ffd700;
}

.shop-detail-wrap li {
  margin-top: 10px;
  list-style: none;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.shop-detail-wrap li div {
  margin: 4px 0;
}

.shop-detail-wrap li div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #666;
}

.shop-detail-wrap li div:last-child {
  font-size: 19px;
  color: #333;
}

/* 마이 리뷰 list  */
.Myreview-wrap .my-star-point {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Myreview-wrap .my-star-point span {
  color: #ffd700;
}
.Myreview-wrap li {
  position: relative;
  list-style: none;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.Myreview-wrap li div {
  margin: 4px 0;
}

.Myreview-wrap li div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #666;
}

.Myreview-wrap li div:last-child {
  font-size: 19px;
  color: #333;
}

.Myreview-wrap .delButton {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}
.Myreview-wrap .review-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Myreview-wrap li div:nth-child(2) {
  display: flex;
  font-size: 16px;
  color: #666;
  align-items: center;
}
.Myreview-wrap .review-date {
  position: relative;
  left: 170px;
  top: -20px;
}

.Myreview-wrap .delete-review {
  position: relative;
  top: -45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.shop-detail-wrap .tbl {
  width: 100%;
  border-collapse: collapse; /* 테두리 겹침 제거 */
}

.shop-detail-wrap .tbl,
.tbl th,
.tbl td {
  border: 1px solid #ccc; /* 연한 회색 테두리 */
}

.shop-detail-wrap .tbl th {
  background-color: #f2f2f2; /* 헤더 배경색 */
  text-align: center; /* 왼쪽 정렬 */
  padding: 8px; /* 패딩 추가 */
  font-weight: bold; /* 글씨 굵게 */
}

.shop-detail-wrap .tbl td {
  padding: 8px; /* 데이터 셀에 패딩 추가 */
  text-align: center;
}

.shop-detail-wrap .tbl tr:nth-child(even) {
  background-color: #f9f9f9; /* 짝수 행의 배경 색상 */
}

/* .shop-detail-wrap .tbl td:last-child {
  text-align: left; /* 마지막 열의 텍스트 왼쪽 정렬 */

.shop-detail-wrap .tbl th:first-child,
.tbl td:first-child {
  width: 25%; /* 첫 번째 열 넓이 고정 */
}

.shop-detail-wrap .tbl th:nth-child(2),
.tbl td:nth-child(2) {
  text-align: center; /* 두 번째 열 중앙 정렬 */
}

.shop-detail-wrap .tbl th:nth-child(3),
.tbl td:nth-child(3) {
  width: 25%; /* 세 번째 열 넓이 고정 */
}

.shop-detail-wrap .tbl th:nth-child(4),
.tbl td:nth-child(4) {
  text-align: center; /* 네 번째 열 중앙 정렬 */
}
.shop-detail-wrap .goods-image {
  margin-top: 25px;
}

.order-list {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.order-list-wrap .order-item {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.order-list-wrap .item-image img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.order-list-wrap .item-details {
  flex: 1;
}

.order-list-wrap .item-details h3 {
  margin: 0 0 10px;
}

.order-list-wrap .item-details p {
  margin: 5px 0;
}

.order-list-wrap .order-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.order-list-wrap .order-actions button {
  position: relative;
  top: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  height: 50px;
  margin-right: 15px;
}

.order-list-wrap .order-actions button:hover {
  background-color: #45a049; /* 호버 효과 */
}

.shipping-modal-wrap .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.shipping-modal-wrap .modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.shipping-modal-wrap .modal-content h2 {
  margin-top: 0;
}

.shipping-modal-wrap .modal-content table {
  width: 100%;
  border-collapse: collapse;
}

.shipping-modal-wrap .modal-content th,
.modal-content td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.shipping-modal-wrap .modal-content th {
  background-color: #f2f2f2;
}

.shipping-modal-wrap .check-button {
  position: relative;
  top: 10px;
  right: -230px;
  background-color: #4caf50; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px; /* 패딩 조정 */
  font-size: 16px; /* 글씨 크기 */
  transition: background-color 0.3s; /* 호버 효과를 위한 전환 */
}

.shipping-modal-wrap .check-button:hover {
  background-color: #45a049; /* 호버 시 색상 */
}

.shop-detail-wrap .faq-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.shop-detail-wrap .faq-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.shop-detail-wrap .faq-section h3 {
  margin-top: 0;
}

.shop-detail-wrap .faq-section p {
  margin: 5px 0;
}

.shop-detail-wrap .faq-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.Myreview-wrap .pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 290px;
  transform: translateX(-50%); /* 중앙 정렬을 위한 오프셋 */
  background-color: transparent;
}
.Myreview-wrap .pagination-controls button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  height: 40px;

  cursor: pointer;
}
.Myreview-wrap .css-1umw9bq-MuiSvgIcon-root {
  margin-top: 0px;
}

.Myreview-wrap .pagination-controls button:hover {
  background-color: #45a049;
}

.Myreview-wrap .pagination-controls button:disabled {
  background-color: #245329;
}

.Myreview-wrap .tab-content {
  min-height: 657px;
}
