.shop-detail-wrap {
  width: 1200px;
  background-color: #fff;
  padding: 20px;
}
.shop-detail-wrap .main-detail {
  display: flex;
}

.shop-detail-wrap .goods-image {
  flex: 1;
  padding-right: 20px;
}

.shop-detail-wrap .goods-image img {
  width: 100%; /* 가로 길이에 맞게 조정 */
  height: auto;
}

.shop-detail-wrap .goods-info {
  flex: 1;
}
.shop-detail-wrap .ex-box {
  min-height: 350px;
}

.shop-detail-wrap .goods-info h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 30px;
}
.shop-detail-wrap .goods-info h3 {
  margin-top: 70px;
  margin-left: 30px;
  font-weight: 700;
}
.shop-detail-wrap .goods-info p {
  margin: 20px; /* 단락 간격 추가 */
}

.shop-detail-wrap .price-box {
  display: flex;
  justify-content: space-between;
}
.shop-detail-wrap .quantity-controls {
  display: flex;
  align-items: center;
  margin: 30px;
}

.shop-detail-wrap .quantity-controls button {
  width: 25px;
  height: 20px;
  font-size: small;
  background-color: #4caf50;
  color: white;

  border: none;
  border-radius: 5px;
}

.shop-detail-wrap .quantity-controls span {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
}
.shop-detail-wrap .goods-info h2 {
  margin-right: 50px;
  margin-top: 30px;
}
.shop-detail-wrap .goods-buy {
  margin-top: 20px;
  display: flex;
}
.shop-detail-wrap .goods-buy button {
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border: none;
  padding: 15px; /* 상하 여백 증가 */
  flex: 1; /* 각 버튼이 동일한 크기를 가짐 */
  cursor: pointer;
  margin-right: 1px;
  border-radius: 5px;
}

.shop-detail-wrap .tabs {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.shop-detail-wrap .tabs button {
  background-color: #f1f1f1;
  border: none;
  padding: 15px; /* 상하 여백 증가 */
  flex: 1; /* 각 버튼이 동일한 크기를 가짐 */
  cursor: pointer;
  margin-right: 10px; /* 오른쪽 여백 추가 */
  border-radius: 5px;
}

.shop-detail-wrap .tabs button:last-child {
  margin-right: 0; /* 마지막 버튼은 오른쪽 여백 없음 */
}

.shop-detail-wrap .tabs button.active {
  background-color: #4caf50;
  color: white;
}

.shop-detail-wrap .tab-content {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.shop-pay-wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* 결제 페이지 */
.shop-pay-wrap h2,
h4 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 3px;
}

.shop-pay-wrap table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.shop-pay-wrap td {
  padding: 10px;
  border: 1px solid #ddd;
  color: #191c19;
}

/* input */
.shop-pay-wrap input[type="text"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 체크박스 */
.shop-pay-wrap label {
  display: flex;
  align-items: center;
}

/* button */
.shop-pay-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.shop-pay-wrap button:hover {
  background-color: #45a049;
}
.shop-pay-wrap .accountForShip {
  font-size: 12px;
  font-weight: 400;
}
