.cart-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 0 auto;
}

.cart-wrap .cart-container {
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-wrap h2 {
  text-align: center;
  color: #333;
}
.cart-wrap .cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  padding: 10px;
}

.cart-wrap .cart-item img {
  width: 80px;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.cart-wrap .item-details {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.cart-wrap .item-details h3 {
  margin: 0;
  font-size: 1.2em;
}

.cart-wrap .item-details p {
  margin: 5px 0;
}
.cart-wrap .hidden-detail {
  display: none;
}
.cart-wrap .member-info {
  display: none;
}

.cart-wrap .cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cart-wrap .cart-summary h3 {
  margin: 0;
}
.cart-wrap .cart-summary span {
  margin-right: 260px;
}
.cart-wrap .pay-all-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 55px;
}

.cart-wrap .pay-all-button-button:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.5);
  cursor: pointer;
}

.cart-wrap .purchase-button,
.pay-all-button-button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-wrap .purchase-button {
  background-color: #28a745; /* 구매 버튼 색상 */
  margin-right: 20px;
  margin-top: 30px;
}

.cart-wrap .purchase-button:hover {
  background-color: #218838; /* 구매 버튼 hover 색상 */
}

.cart-wrap .delete-button-item {
  position: relative; /* 상위 요소에 상대적 위치 조정 */
  top: -30px; /* 위로 20px 이동 */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 10px;
  padding: 0;
  font-weight: bold;
}
