.shop-list-wrap {
  background-color: #ffffff;
  min-height: 1050px;
}

.shop-list-wrap div {
  margin: 20px;
  font-family: "Arial", sans-serif;
}

/* 버튼 스타일 */
.shop-list-wrap button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #589c5f; /* 그린 색상 */
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

.shop-list-wrap button:hover {
  background-color: #245329; /* 호버 시 어두운 그린 */
}
.shop-list-wrap button:disabled {
  background-color: #245329;
}

/* 정렬 선택 박스 스타일 */
.shop-list-wrap select {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}

.shop-list-wrap div.goods-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.shop-list-wrap .goods-card img {
  width: 150px; /* 이미지 크기 조정 */
  height: auto;
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격 */
}

/* 광고 스타일 */
.shop-list-wrap div.advertisement {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shop-list-wrap div.advertisement:hover {
  background-color: #e0e0e0; /* 호버 시 밝은 회색 */
}

/* 헤더 스타일 */
.shop-list-wrap h2 {
  font-size: 24px;
  color: #333;
}

.shop-list-wrap h3 {
  font-size: 20px;
  margin: 0 0 5px 0; /* 상하 여백 조정 */
}

.shop-list-wrap p {
  font-size: 16px;
  color: #293a2c;
}

/* 제품 카드를 위한 컨테이너 */
.shop-list-wrap .goods-container {
  display: flex;
  flex-wrap: wrap; /* 필요한 경우 다음 행으로 넘기기 */
  gap: 20px; /* 카드 간 간격 */
  justify-content: flex-start;
}

.shop-list-wrap .goods-card {
  position: relative;
  background-color: #f9f9f9;
  flex: 0 1 calc(25% - 20px); /* 4개씩 보이도록 설정하며 간격을 고려 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 크기 계산 */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 15px;
  text-align: center; /* 텍스트 가운데 정렬 */
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.shop-list-wrap .Banner-wrap {
  display: flex;
  align-items: center;
}

.shop-list-wrap .adBanner {
  flex-grow: 1;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0;
}

/* 제품 세부사항 스타일 */
.shop-list-wrap .Goods-details {
  display: flex;
  flex-direction: column; /* 세부정보를 수직으로 정렬 */
  align-items: center; /* 가운데 정렬 */
}

/* 페이지네이션 스타일 */
.shop-list-wrap {
  position: relative;
}

.shop-list-wrap .pagination {
  display: flex; /* 플렉스 박스를 사용하여 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  position: absolute; /* 절대 위치 지정 */
  bottom: 5px;
  left: 0;
  right: 0;
}
.shop-list-wrap .pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.shop-list-wrap .pagination button:hover {
  background-color: #45a049;
}

.shop-list-wrap .pagination button:disabled {
  background-color: #245329;
}

.shop-list-wrap .delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
}
