.shop-list-wrap {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  background-color: #ffffff;
  min-height: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.shop-list-wrap div {
  margin: 20px;
  font-family: "Arial", sans-serif;
}

.shop-list-wrap button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #589c5f;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.shop-list-wrap button:hover {
  background-color: #245329;
}
.shop-list-wrap button:disabled {
  background-color: #245329;
}

.shop-list-wrap select {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shop-list-wrap div.goods-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  background-color: #f9f9f9; /* 카드 배경색 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 제품 카드 그림자 */
}

.shop-list-wrap .goods-card img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}

/* 광고 스타일 */
.shop-list-wrap div.advertisement {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shop-list-wrap div.advertisement:hover {
  background-color: #e0e0e0; /* 호버 시 밝은 회색 */
}

/* 헤더 스타일 */
.shop-list-wrap h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.shop-list-wrap h3 {
  font-size: 20px;
  margin: 0 0 5px 0;
}

.shop-list-wrap p {
  font-size: 16px;
  color: #293a2c;
}

.shop-list-wrap .order-by {
  position: relative;

  right: -30px;
  width: 150px;
}
.shop-list-wrap .category-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

.shop-list-wrap .category-button div {
  width: 120px;
  text-align: center;
}
/* 상품 목록 리스트 */
.shop-list-wrap .goods-container {
  display: flex;
  flex-wrap: wrap; /* 필요한 경우 다음 행으로 넘기기 */
  gap: 20px; /* 카드 간 간격 */
  justify-content: flex-start;
}

.shop-list-wrap .goods-card {
  position: relative;
  background-color: #f9f9f9;
  flex: 0 1 calc(25% - 20px); /* 4개씩 보이도록 설정하며 간격을 고려 */
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
  margin: 15px;
  text-align: center; /* 텍스트 가운데 정렬 */
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.shop-list-wrap .Banner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-list-wrap .adBanner {
  flex-grow: 1;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0;
}

.shop-list-wrap .Goods-details {
  display: flex;
  flex-direction: column; /* 세부정보를 수직으로 정렬 */
  align-items: center; /* 가운데 정렬 */
}

/* 페이지네이션 스타일 */
.shop-list-wrap {
  position: relative;
}

.shop-list-wrap .page-wrap {
  height: 100px;
}
.shop-list-wrap .pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}
.shop-list-wrap .pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.shop-list-wrap .pagination button:hover {
  background-color: #245329;
  transform: translateY(-2px);
}

.shop-list-wrap .pagination button:disabled {
  background-color: #245329;
}
.shop-list-wrap .delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
}
.shop-list-wrap .modify-button {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #45a049;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
}
