.community-main {
  background-color: #1e1e1e;
  color: white;
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
.community-list-wrap {
  width: 500px;
  margin: 0 auto;
}
.community-head {
  border-bottom: 1px solid #ccc;
}
.community-head > .community-head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  cursor: pointer;
}

.community-search-input > .search-input {
  width: 100%;
  font-size: 18px;
  border-radius: 15px;
  padding: 5px 0;
  border: none;
  text-indent: 15px;
  margin-bottom: 20px;
}
.community-title > a {
  text-decoration: none;
  color: #fff;
}
.user-info {
  display: flex;
  gap: 7px;
  cursor: pointer;
}
.user-info > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.member-img > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.community-menu > svg {
  margin-right: 10px;
}
.community-menu > svg:hover {
  cursor: pointer;
}
.community-menu > svg:last-child {
  margin-right: 0;
}
.follow-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
.community-img > img {
  width: 150px;
  border-radius: 10px;
}

.community-post-item {
  list-style: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}
.community-post-item > div {
  padding: 5px 0;
}
.community-post-item p {
  margin: 5px;
}
.community-sub-zone {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  width: 130px;
}
.community-post-item > .community-sub-zone:hover {
  cursor: pointer;
}
.community-post-item > .community-member {
  display: flex;
  gap: 10px;
}
.community-likes {
  display: flex;
  gap: 3px;
  align-items: center;
  width: calc(100% / 2);
  cursor: pointer;
}
.community-comments {
  display: flex;
  gap: 3px;
  align-items: center;
  width: calc(100% / 2);
}
.community-view-user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.community-view-user img {
  width: 50px;
  height: 50px;
}
.community-view-content {
  padding-top: 10px;
}
.community-view-content > img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  height: 500px;
}
/* 댓글 입력란 */
.post-input {
  display: flex;
  gap: 20px;
  align-items: center;
}
.comment-text-box {
  display: flex;
  width: 100%;
  background-color: #fff;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
}
.comment-text-box > input {
  border: none;
  width: 96.8%;
  font-size: 16px;
  background-color: transparent;
  text-indent: 20px;
}
.comment-text-box > button {
  border-radius: 15px;
  border: none;
  background-color: transparent;
  color: #1e1e1e;
  font-weight: 900;
  margin-right: 20px;
}
.comment-text-box > button:hover {
  cursor: pointer;
  color: #007bff;
}

/*댓글 작성*/
.comment-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comment-user-content {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 30px;
  text-indent: 10px;
}

/*게시글 작성*/
.community-write-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
