<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.fithub.admin.model.dao.AdminDao">
	<select id="memberList" resultType="member">
		select * from member
	</select>
	<select id="delMemberList" resultType="delMember">
		select * from del_member
	</select>
	<select id="communityList" resultType="community">
		select * from community
	</select>
	
	<!-- <select id="commentList" resultType="comment">
		select * from comment_tbl
	</select> -->
	
	<select id="memberTotalCount">
		select count(*) from member
	</select>
	<select id="delMemberTotalCount">
		select count(*) from del_member
	</select>
	<select id="communityTotalCount">
		select count(*) from community
	</select>
	<!-- <select id="commentTotalCount">
		select count(*) from comment_tbl
	</select> -->
	
	<update id="adminMemberChange">
		update member set
		<choose>
			<when test="memberLevel > 0">
				member_level = #{memberLevel}
			</when>
			<when test="warningLevel > 0">
				warning_level = #{warningLevel}
			</when>
		</choose>
		where member_id = #{memberId}
	</update>
	
</mapper>
