<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.fithub.community.model.dao.CommunityDao">

	<select id="selectCommunityList" resultType="community">
		SELECT * FROM (
        SELECT 
            A.*, 
            rownum AS rnum
        FROM (
            SELECT
                m.member_id,
                m.member_no,
                m.member_thumb,
                c.community_content,
                c.community_no,
                (SELECT COUNT(*) FROM community_like WHERE community_no = c.community_no) AS like_count,
                (SELECT COUNT(*) FROM community_like WHERE community_no = c.community_no AND member_no = #{memberNo}) AS is_like,
                (SELECT COUNT(*) FROM comment_tbl WHERE community_no = c.community_no) AS comment_count,
                (SELECT COUNT(*) FROM follow WHERE follow_member_no = c.member_no AND member_no = #{memberNo}) AS is_follow
            FROM community c
            JOIN member m ON c.member_no = m.member_no
            ORDER BY community_no DESC
        ) A 
    ) 
    WHERE rnum BETWEEN #{startRow} AND #{endRow}
	
	</select>
	
	<select id="totalCount" resultType="int">
		select count(*) from community
	</select>

	<select id="selectOneCommunity" resultType="community">
		select
		m.member_id,
		m.member_thumb,
		m.member_no,
		c.community_content,
		c.community_no,
		to_char(sysdate, 'yyyy-mm-dd') as community_date,
		(select count(*) from community_like where community_no = c.community_no) as
		like_count,
		(select count(*) from community_like where community_no = c.community_no and
		member_no = #{memberNo}) as is_like,
		(select count(*) from comment_tbl where community_no = c.community_no) as
		comment_count,
		(select count(*) from follow where follow_member_no = c.member_no and
		member_no = #{memberNo}) as is_follow
		FROM
		community c
		join
		member m on c.member_no = m.member_no
		where c.community_no = #{communityNo}
	</select>

	<insert id="insertLike">
		insert into community_like values(#{communityNo},
		#{memberNo})
	</insert>

	<delete id="deleteLike">
		delete from community_like where member_no =
		#{memberNo} and community_no = #{communityNo}
	</delete>

	<select id="selectLikeCount" resultType="int">
		select count(*) from
		community_like where community_no = #{communityNo}
	</select>

	<select id="selectCommentList" resultType="comment">
		SELECT
		comment_no,
		comment_content,
		comment_date,
		community_no,
		member_no,
		member_thumb,
		member_id
		FROM comment_tbl
		JOIN member USING (member_no)
		where community_no=#{communityNo}
		order by comment_date desc
	</select>

	<insert id="insertCommunity">
		insert into community values(community_seq.nextval,
		#{communityContent}, #{memberNo}, sysdate, 1)
	</insert>

	<delete id="deleteFollow">
		delete from follow where follow_member_no =
		#{followMemberNo} and member_no = #{memberNo}
	</delete>

	<insert id="insertFollow">
		insert into follow values(#{followMemberNo},
		#{memberNo})
	</insert>
	
	<insert id="insertComment">
		insert into comment_tbl values(comment_tbl_seq.nextval, #{communityNo}, #{memberNo}, #{commentContent}, to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'))
	</insert>
	
	<delete id="deleteCommunity">
		delete from community where community_no = #{communityNo}
	</delete>
	
	<update id="updateCommunity">
		update community set community_content = #{communityContent} where community_no = #{communityNo}
	</update>
	
	<select id="selectCommunity" resultType="community">
	SELECT * FROM (
        SELECT 
            A.*, 
            rownum AS rnum
        FROM (
            SELECT
                m.member_id,
                m.member_no,
                m.member_thumb,
                c.community_content,
                c.community_no,
                (SELECT COUNT(*) FROM community_like WHERE community_no = c.community_no) AS like_count,
                (SELECT COUNT(*) FROM community_like WHERE community_no = c.community_no AND member_no = #{memberNo}) AS is_like,
                (SELECT COUNT(*) FROM comment_tbl WHERE community_no = c.community_no) AS comment_count,
                (SELECT COUNT(*) FROM follow WHERE follow_member_no = c.member_no AND member_no = #{memberNo}) AS is_follow
            FROM community c
            JOIN member m ON c.member_no = m.member_no
            ORDER BY community_no DESC
        ) A 
    ) 
    WHERE rnum = #{endRow}
	</select>	

	<delete id="deleteComment">
		delete from comment_tbl where comment_no = #{commentNo}
	</delete>
	
	<update id="updateComment">
		update comment_tbl set comment_content = #{commentContent} where comment_no = #{commentNo}
	</update>
</mapper>
