<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.fithub.dm.model.dao.DmDao">
	<select id="existRoom" resultType="int">
		select count(*) from dm_room
		where member1_no = #{memberNo1} and member2_no = #{memberNo2}
	</select>

	<insert id="createRoom">
		insert into dm_room
		values(dm_room_seq.nextval,#{memberNo1},#{memberNo2},sysdate,sysdate)
	</insert>

	<select id="selectDmRoomNo" resultType="int">
		select dm_room_no from
		dm_room where member1_no = #{memberNo1} and member2_no = #{memberNo2}
	</select>

	<insert id="insertMessage">
		insert into dm_message values(#{dmMessageNo},
		#{dmRoomNo}, #{senderNo}, #{dmContent}, sysdate, #{isRead})
	</insert>

	<select id="selectDmList" resultType="dmRoom">
		SELECT
		dr.dm_room_no,
		dr.member1_no,
		dr.member2_no,
		TO_CHAR(dr.created_at, 'YYYY-MM-DD HH24:MI:SS') AS created_at,
		TO_CHAR(dr.last_message_at, 'YYYY-MM-DD HH24:MI:SS') AS last_message_at,

		-- 상대방 정보
		m.member_no AS other_member_no,
		m.member_id AS other_member_id,
		m.member_name AS other_member_name,
		m.member_thumb AS other_member_thumb,

		-- 마지막 메시지
		last_msg.dm_content AS last_message_content,
		TO_CHAR(last_msg.sent_at, 'YYYY-MM-DD HH24:MI:SS') AS last_message_sent_at

		FROM
		dm_room dr

		-- 상대방 join
		JOIN member m
		ON m.member_no = CASE
		WHEN dr.member1_no = #{memberNo} THEN dr.member2_no
		ELSE dr.member1_no
		END

		-- 마지막 메시지 join (서브쿼리로 max(sent_at)를 기준으로 join)
		LEFT JOIN (
		SELECT d1.dm_room_no, d1.dm_content, d1.sent_at
		FROM dm_message d1
		WHERE d1.sent_at = (
		SELECT MAX(d2.sent_at)
		FROM dm_message d2
		WHERE d2.dm_room_no = d1.dm_room_no
		)
		) last_msg
		ON last_msg.dm_room_no = dr.dm_room_no

		-- 나와 관련된 DM방만 조회
		WHERE
		dr.member1_no = #{memberNo} OR dr.member2_no = #{memberNo}

		-- 최신 메시지 순 정렬 (선택)
		ORDER BY dr.last_message_at DESC NULLS LAST
	</select>
	
	<select id="selectDmContent" resultType="dmMessage">
		select * from dm_message where dm_room_no = #{dmRoomNo}
	</select>
	
	<select id="selectNewMessageNo" resultType="int">
		select dm_message_seq.nextval from dual
	</select>
	
	<select id="selectOneMessage">
		select * from dm_message where dm_message_no = #{dmMessageNo}
	</select>
	
	<update id="updateLastMessageAt">
		update dm_room set last_message_at = sysdate where dm_room_no = #{dmRoomNo}
	</update>
	
	<update id="changeIsRead">
		update dm_message set is_read = 'Y' where dm_room_no = #{dmRoomNo} and sender_no = #{receiverNo}
	</update>
</mapper>
