<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.fithub.shop.model.dao.ShopDao">
  
  	<select id="selectGoodsList" resultType="goods">  			
 			select goods_no, goods_name, goods_price, goods_category, goods_image  from  goods  order by goods_no desc
 	</select>
  
  	<select id="selectOneGoods">
  		select * from goods where goods_no= #{goodsNo}
  	</select>
  	<insert id="insertGoods">
  		insert into goods values 
  		(#{goodsNo},#{goodsName},#{goodsExplain},#{goodsPrice},#{goodsStock},#{goodsImage},sysdate,#{goodsCategory}
  		,#{goodsInfo1},#{goodsDetail1},#{goodsInfo2},#{goodsDetail2},#{goodsInfo3},#{goodsDetail3},#{goodsInfo4},#{goodsDetail4},#{goodsInfo5},#{goodsDetail5},#{goodsInfo6},#{goodsDetail6},#{goodsDetailImg})
 		<selectKey order="BEFORE" resultType="int" keyProperty="goodsNo">
 			select goods_seq.nextval from dual
 		</selectKey>
  	</insert>
  	
  	<insert id="insertGoodsFile">
 		insert into goods_file values (goods_file_seq.nextval, #{goodsNo}, #{fileName}, #{filePath})
 	</insert>
  	
  	<select id="selectGoodsFileList" resultType="goodsFile">
  		select * from goods_file where goods_no= #{goodsNo}
  	</select>
  	
  	<delete id="deleteBoard">
  		delete from goods where goods_no = #{goodsNo}
  	</delete>
  	
  	<insert id="insertCart">
  		insert into cart values
  		(#{cartNo},#{memberNo},#{goodsNo},#{goodsPrice},#{goodsEa})
  		<selectKey order="BEFORE" resultType="int" keyProperty="cartNo">
 			select cart_seq.nextval from dual
 		</selectKey> 
  	</insert>
  	
  	<insert id="insertSell">
  		insert into sell values 
  		(#{sellNo}, #{goodsNo}, #{memberNo}, #{goodsName}, #{goodsTotalPrice}, #{goodsEa},sysdate)
 		<selectKey order="BEFORE" resultType="int" keyProperty="sellNo">
 			select sell_seq.nextval from dual
 		</selectKey>
  	</insert>
  	
  	<select id="selectReviews" resultType="sell">
  		select * from sell where member_no= #{memberNo} order by 1 desc 
  	</select>
  	
  	<select id="selectMyReviews">
  		select re_no, goods_no, member_id, re_content, to_char(re_date, 'yy-mm-dd') as re_date
  		, re_star, goods_name from review where member_id= #{memberId} order by 1 desc 
  	</select>
  	
  	<select id="goodsReviews" resultType="review">
  		select re_no, goods_no, member_id, re_content, to_char(re_date, 'mm-dd hh:mi') as re_date
  		, re_star from review where goods_no= #{goodsNo} order by 1 desc 
  	</select>
  	
  	
  	
	<insert id="insertReview">
		insert into review values 
  		(#{reNo}, #{goodsNo}, #{memberId}, #{reContent}, sysdate, #{reStar}, #{goodsName})
 		<selectKey order="BEFORE" resultType="int" keyProperty="reNo">
 			select review_seq.nextval from dual
 		</selectKey>
	</insert>
  	
</mapper>
