.myfit-wrap {
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 600px;
}

.myfit-content {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.myfit-content-box {
  width: 920px;
  display: flex;
  justify-content: center;
}

.fit-wrap {
  display: flex;
  gap: 50px;
}

.myfit-wrap .sidebar {
  border-radius: 10px;
  width: 180px;
}

.myfit-wrap .sidebar-box {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.myfit-wrap .sidebar a {
  height: 24px;
  font-size: 18px;
  background: #888;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.myfit-wrap .sidebar .active {
  background: #222;
}

.myfit-wrap .calendar {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.myfit-wrap .calendar h2 {
  margin-bottom: 10px;
}

.myfit-wrap .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.myfit-wrap .day-header {
  color: gray;
}

.myfit-wrap .day {
  padding: 5px;
  border-radius: 50%;
  text-align: center;
}

.myfit-wrap .highlight {
  background: green;
  color: white;
}

.exercise-record {
  background: #222;
  padding: 50px 20px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.exercise-record-content {
  padding: 20px;
  text-align: left;
}

.exercise-record-content p {
  text-align: center;
}

.fit-wrap .edit-button {
  font-size: 16px;
  width: 120px;
  background: #589c5f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fit-wrap .calendar .css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root {
  color: white;
}

.fit-wrap .calendar .css-qct7wd-MuiButtonBase-root-MuiPickersDay-root {
  color: white;
}

.fit-wrap
  .calendar
  .css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: white;
}

.fit-wrap
  .calendar
  .css-14yom7c-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  fill: white;
}

.fit-wrap .calendar .css-1ckov0h-MuiSvgIcon-root {
  fill: white;
}

.fit-wrap
  .calendar
  .css-qct7wd-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: 1px solid #589c5f;
}

.fit-wrap
  .calendar
  .css-qct7wd-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #589c5f;
}

.fit-wrap
  .calendar
  .css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #589c5f;
}

.fit-wrap .calendar .css-osh0x1 {
}

.fit-wrap .calendar .css-osh0x1 {
  width: 320px;
  padding: 0;
}

.fit-wrap .calendar .css-1rv8zyt-MuiStack-root {
  overflow: hidden;
}
