.admin-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1400px;
}
.admin-section .side-menu {
  display: flex;
  flex-direction: column;
}
.admin-section .side-menu a {
  list-style-type: none;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 20px;
  width: 200px;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  background-color: #8f8f8f;
  color: white;
}

.admin-section .today-section {
  width: 1000px;
  background-color: #8f8f8f;
  border-radius: 30px;
}
.admin-section .page-title {
  margin: 20px auto;
  text-align: center;
  color: white;
  font-size: 32px;
}

.admin-section .side-menu .active-tab {
  background-color: #252525;
}
