.admin-section {
  display: flex;
  margin: 0 auto;
  width: 1400px;
  gap: 50px;
}

.admin-section * {
  color: white;
}

.admin-section section {
  width: 992px;
  background-color: var(--main1);
}
.admin-section .navi-bar {
  border-radius: 10px;
  width: 180px;
}

.admin-section .side-menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.admin-section .side-menu a {
  height: 24px;
  font-size: 18px;
  background: var(--gray3);
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.admin-section .side-menu .active-tab {
  background-color: var(--main1);
}
.admin-section .page-title {
  margin: 20px auto;
  text-align: center;
  color: white;
  font-size: 32px;
}

/*---------- AdminMember / 관리자 회원, 게시글 관리 ----------*/

.admin-member-section {
  background-color: var(--main1);
  padding: 20px;
  border-radius: 30px;
}
.admin-member-tab {
  display: flex;
  width: 100%;
  padding: 10px;
}
.admin-member-tab > .page-title {
  border-bottom: 2px solid white;
  width: calc(100% / 2);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
}
.admin-member-tab > .page-title:hover {
  color: var(--main3);
  text-shadow: 0px 0px 8px #0ff;
}
.admin-member-tab > .active-tab {
  background: var(--main1);
  box-shadow: 0px 0px 8px #0ff;
  color: var(--main3);
}

.admin-member-navi {
  display: flex;
  justify-content: center;
}

.admin-tbl {
  width: 100%;
  border-collapse: collapse;
}

.admin-tbl th,
td {
  text-align: center;
  color: white;
  padding: 10px 5px;
  border-bottom: 1px solid var(--gray3);
}

.admin-section select {
  background-color: var(--main1);
}

/*---------- AdminStat / 관리자 회원 활동, 매출 통계 관리 ----------*/
.admin-stat-section {
  background-color: var(--main1);
  padding: 20px;
  border-radius: 30px;
}

/*---------- AdminChat / 관리자 문의 게시판 ----------*/
.admin-section .admin-chat-section {
  border-radius: 30px;
  padding: 20px;
}

.admin-section .admin-chat-box {
  margin: 0 auto;
  width: 90%;
  background-color: var(--gray2);
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.admin-section .chat-list-box {
  width: 32%;
}

.chat-box-view {
  width: 67%;
}
/*admin chat list*/
.admin-section .chat-list {
  margin: 0 auto;
  background-color: var(--main1);
  height: 600px;
  overflow-y: overlay;
  border-radius: 20px;
}
.admin-section .chat-room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--gray2);
  padding: 10px;
  gap: 10px;
}
.chat-list .member-chat-profile {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}
.chat-list .member-chat-profile > img {
  width: 100%;
  height: 100%;
}
.chat-room-main {
  flex-grow: 1;
}
.chat-room-main .member-chat-id {
  text-align: start;
  margin-bottom: 10px;
  font-weight: 900;
}

.chat-room-main .member-chat-content {
  color: var(--main1);
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
}
.member-chat-alarm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.member-chat-alarm > svg {
  width: 100%;
  height: 100%;
}
.member-chat-alarm > svg > path {
  color: red;
}
.member-chat-alarm > span {
  text-indent: -21px;
}
/*chat*/
.chat-box {
  background-color: var(--main1);
  border-radius: 20px;
  height: 540px;
}
/*member chat*/
.chat-box .member-chat-line {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.member-chat-line .member-chat-profile {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}
.member-chat-profile > img {
  width: 100%;
  height: 100%;
}

.member-chat-main .member-chat-id {
  text-align: start;
  margin-bottom: 10px;
  color: var(--main3);
  font-weight: 900;
  display: flex;
  gap: 10px;
}
.member-chat-id > div {
  color: var(--main3);
}
.member-chat-content {
  width: 400px;
  display: flex;
  justify-content: flex-start;
}
.member-chat-content .member-chat-text {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--gray2);
}
/*admin chat*/
.chat-box .admin-chat-line {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.admin-chat-line .admin-chat-profile {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}
.admin-chat-profile > img {
  width: 100%;
  height: 100%;
}

.admin-chat-main .admin-chat-id {
  text-align: end;
  margin-bottom: 10px;
  color: var(--main3);
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.admin-chat-id > div {
  color: var(--main3);
}
.admin-chat-content {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}
.admin-chat-content .admin-chat-text {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--gray2);
  text-align: end;
}

/*input box*/
.chat-input-box {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: var(--gray2);
  padding: 10px;
}
.chat-input-box > input {
  border-radius: 10px;
  width: 90%;
  padding: 5px;
  text-indent: 5px;
  color: black !important;
}
.chat-input-box > button {
  width: 100px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  background-color: var(--main1);
  font-weight: 900;
  font-size: 20px;
}
.chat-input-box > button:hover {
  cursor: pointer;
  color: var(--main3);
}
