.main-page-wrap .feature-slide-section {
  padding: 80px;
}

.intro-wrap {
  text-align: center;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 40px 0px;
  gap: 10px;
}
.intro-wrap > .intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.intro > .intro-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}
.intro-text > .intro-title {
  text-indent: 60px;
}
.intro-text > .intro-description {
  text-indent: 80px;
}
.intro-text > .intro-btn-wrap {
  padding-top: 100px;
  align-self: center;
}
.intro-btn-wrap > .btn-primary {
  width: 200px;
}
.intro > .intro-img {
  padding: 30px;
  width: 700px;
  height: 500px;
  background-color: var(--gray1);
  border-radius: 10px;
}
.intro > .intro-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
