.main-wrap .intro-wrap {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 40px 0px;
  gap: 10px;
  background-color: #000000;
}
.intro-wrap > .intro {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  width: 1000px;
  padding: 20px;
}
.intro > .intro-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  background-color: aqua;
}
.intro-text > .intro-title {
  text-indent: 60px;
}
.intro-text > .intro-description {
  text-indent: 80px;
}
.intro-text > .intro-btn-wrap {
  padding-top: 100px;
  align-self: center;
}
.intro-btn-wrap > .btn-primary {
  width: 200px;
}
.intro > .intro-img {
  background-color: brown;
  width: 400px;
}
